@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.wrapper {
   
   max-width: 70%;
   height: 100vh;
   margin: auto;
}

.card {
   margin-top: 45px;
   max-width: 280px;
   min-height: 328px;
   margin-right: 10px;
}

.card-img-top {
   max-width: 280px;
   height: 160px;
}

.btn {
   min-width: 118px;
   max-height: 48px;
   text-align: center;
   color: #fff;
   font-size: 14px;
   line-height: 150%;
   font-weight: bold;
   align-items: center;
   background: #403432;
}

.btn:hover {
   background: #776763;
   color: #fff;
}

.btn:focus {
   border: #776763;
   box-shadow: 1px 1px 5px 1px #776763 ;
}

h2 {
   margin-top: 45px;
   color: #343030;
   text-align: left;
   font-weight: bold;
   font-size: 24px;
}

.card-body {
   text-align: center;
}

.form-control:hover {
   border: #776763;
   box-shadow: 1px 1px 5px 1px #776763 ;
}

.form-control:focus {
   border: #776763;
   box-shadow: 1px 1px 5px 1px #776763 ;
}

.footer {
   margin-top: 45px;
}

.navbar-text {
   margin-left: 50px;
}

.btn-close:focus {
   border: #776763;
   box-shadow: 1px 1px 5px 1px #776763 ; 
}

.bi-handbag {
   margin: 10px 0px;
}

.counter {
margin-right: 20px;
}

.price {
   margin-right: 5px;
}

.disebled{
    background-color: #ccc; 
   }

/*.btn-box {
  display: none;
}*/

.bi-check2-circle {
   margin-right: 5px;
}