.product-img {
   background-color: seagreen;
}
.product-img img {
   border: 5px solid salmon;
   width: 400px;
   height: 600px;
}

.product-info h1 {
   color: rgb(8, 59, 47);
   text-transform: uppercase; 
}

.button {
   color: seashell;
   font-weight: bold;
   padding: 10px 30px;
   background-color: seagreen;
   border: 3px solid rgb(248, 129, 74);
   border-radius: 5px;
}
.button i {
   color: #c00;
}
.caunter {
   font-weight: bold;
   
}